{% extends "base.html" %}
{% block body %}
<div class="home">
    <h1>
        Home
    </h1>

    <div>
        <h2>
            Login
        </h2>

        <form method="POST">
            <div class="container">
                <div class="spaced">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" id="uname" required
                    />
                </div>

                <div class="spaced">
                    <label for="passw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="passw" id="passw" required
                    />
                </div>

                <div class="spaced">
                    <button type="submit">Login</button>
                </div>

                {% if error %}
                    <div class="separated error">
                        {{ error_message }}
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="separated">
        Don't have an account? <a href="{{ url_for('register') }}">Sign up</a>
    </div>
</div>
{% endblock %}