{% extends "base.html" %}
{% block body %}
<div class="home">
    <h1>
        Registration
    </h1>

    <div>
        <form method="POST">
            <div class="container">
                <div class="spaced">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" id="uname" required
                    />
                </div>

                <div class="spaced">
                    <label for="passw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="passw" id="passw" required
                    />
                </div>

                <div class="spaced">
                    <button type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>

    <div class="separated">
        Already have an account? <a href="{{ url_for('login') }}">Sign in</a>
    </div>
</div>
{% endblock %}